/* DIRTY Responsive pricing table CSS */

/* 
- make mobile switch sticky
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 0px 14px;
}
h1 {
  text-align: center;
  margin: 14px 0px;
}
p {
  margin: 14px 0px;
}
article {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
}
ul {
  display: flex;
  top: 0px;
  z-index: 10;
  padding-bottom: 14px;
  overflow: scroll;
}
li {
  list-style: none;
  flex: 1;
  min-width: 80px;
}
li:last-child {
  border-right: 1px solid #ddd;
}
button {
  width: 100%;
  border: 1px solid #ddd;
  border-right: 0;
  border-top: 0;
  padding: 10px;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 60px;
  color: #999;
}
li.active button {
  background: #f5f5f5;
  color: #000;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
th {
  background: #f5f5f5;
  display: none;
}
td,
th {
  height: 53px;
}
td,
th {
  border: 1px solid #ddd;
  padding: 10px;
  empty-cells: show;
}
td,
th {
  text-align: left;
}
td + td,
th + th {
  text-align: center;
  display: none;
  overflow: hidden;
}
td.default {
  display: table-cell;
}
.bg-purple {
  border-top: 3px solid #a32362;
}
.bg-blue {
  border-top: 3px solid #0097cf;
}
.sep {
  background: #f5f5f5;
  font-weight: bold;
}
.txt-l {
  font-size: 28px;
  font-weight: bold;
}
.txt-top {
  position: relative;
  top: -9px;
  left: -2px;
}
.tick {
  font-size: 18px;
  color: #2ca01c;
}
.hide {
  border: 0;
  background: none;
}

@media (min-width: 640px) {
  ul {
    display: none;
  }
  td,
  th {
    display: table-cell !important;
  }
  td,
  th {
    width: 230px;
  }
  td + td,
  th + th {
    width: auto;
  }
}
